<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>Dallas is coming up on a decade and Alison has almost 7 years of experience with Traumatic Brain Injury, Dallas as a TBI survivor and Alison as a spouse/caretaker. Dallas is a freelance software developer and Ali is a full-time stay-at-home mom! Dallas has done speaking engagements in K-12 public schools, religious firesides, and on the corporate level. We offer different perspectives of overcoming obstacles, both as a survivor and as a caretaker. We deliver a motivational and engaging presentation at a competitive price and we look forward to working with you on what you feel is fair compensation. Dallas also offers life coaching! His background is in Behavioral Science, emphasis in Psychology. Including courses in Social Work, Sociology, Clinical Interviewing Skills, Positive Psychology, Abnormal Psychology, Group Psychotherapy, and emphasis in Psychology.</p>

    <p>We take great pride in sharing what have been our highs as well as our lows, as we try to be transparent and raw for our audiences and connect with them on a very personal level. We want to leave them feeling uplifted and having learned that when life gives you lemons, you make lemonade!</p>
  </div>
</div>
