<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Software development and technology helped me recover from a severe traumatic brain injury or TBI. It is my goal to share my story as well as help others overcome their trials. Code [^ Able is a startup software development project which helps survivors overcome brain injury and other disabilities.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>